[config]
base_url = https://www.espn.co.uk
url = /football/fixtures/_/date/**DATE_VAR**/league/eng.2
date_placeholder = **DATE_VAR**

season_start_dt     =   2022-07-25
season_end_dt       =   2023-05-08

base_fld            =   /Users/paul.found/Coding/Personal/football_scrape/
code_fld            =   %(base_fld)scode/
data_fld            =   %(base_fld)sdata/
test_fld            =   %(base_fld)stest/
log_fld             =   %(base_fld)slog/
games_fld           =   %(data_fld)sgames/
output_fld          =   %(data_fld)soutput/

